body {
    background-color: rgb(34, 25, 95);
    color: #ccc;
}

nav {
    padding: 0 0.8em;
}

#cep {
    background-color: darkblue;
    color: #eee;
}

.resultado-busca {
    padding-left: 1.3em;
}